@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    font-size: 8px;
}

body {
    background-image: url("Images/Background.jpg");
    background-size:cover;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 0%;

    --background-color: rgba(0,0,0,.2);
    --window-blur: 10px;
    --drop-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    --light-rim: inset 0 2px 2px rgba(255, 255, 255, .2);

    --border: rgba(255,255,255,.5) 1px outset;
}

header {
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    position: fixed; 
    background-color: var(--background-color);
    
    z-index: 10;
}

footer {
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: var(--background-color);
    backdrop-filter: blur(var(--window-blur));
    height: 5rem;
    text-align: center;
    color: #ffffff66;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#splash {
    position: relative;
    display: block;
    top: 0%;
    width: 100%;
    height: 0rem;
    background-color: black;
    transition: all 300ms ease-out;
    overflow: hidden;
    background-image: url("Images/Background.jpg");
}

#splash img {
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen {
    height: 100vh !important;
}

.head-group {
    position: relative;
    display: flex;
    height: 5rem;
}

.head-box {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--window-blur));
    border: var(--border);
    border-top: none;
    border-right: none;
    border-left: none;
    z-index: -10;
    box-shadow: var(--drop-shadow), var(--light-rim);
}

.foot-box {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--window-blur));
    box-shadow: var(--light-rim);
    border: var(--border);
    border-bottom: none;
    border-right: none;
    border-left: none;
    z-index: -10;
}

.menu {
    position: absolute;
    right: 0%;
    height: 100%;
    visibility: hidden;
    cursor: pointer;
}

.dropdown .content{
    position: absolute;
    display: flex;
    justify-content: stretch;
    right: 0%;
    bottom: 0%;
    top: 0%;
    width: 50%;
    backdrop-filter: inherit;
}

.dropdown button {
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.5rem;

    transition: all 100ms ease-in;
}

.dropdown button:hover {
    background-color: rgba(100,100,100,.2);
}

.test {
    background-color: var(--background-color);
    backdrop-filter: blur(var(--window-blur));
    display: grid;
    width: 20rem;
    margin-top: 20rem;
    margin-bottom: 5rem;

    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: var(--drop-shadow), var(--light-rim);
}

button {
    cursor: pointer;
}

.test button 
{
    margin: 10px;
    height: 10rem;
    border-radius: 15px;
    background-color: var(--background-color);
    border: var(--border);
    font-size: 3rem;
    color: darkorange;
    font-family: "Audiowide", sans-serif;
    transition: all 100ms ease-in;

    box-shadow: var(--drop-shadow), var(--light-rim)
}

.test button:hover
{
    transform: scale(1.2);
    text-shadow: white 0px 0px 20px;
    color: white;
}

#animation-container {
    --logo-scale: 32rem;

    position: absolute;
    height: 4.9rem;
    width: 5rem;

    --letter-translate: 15.5%;
    --second-to-saisoj: 200ms;
    --second-to-sd: 100ms;
    
    transform: translate(0%, -50%);
    overflow: hidden;

    top: 50%;
    transform: translateY(-50%);

    transition: all 1ms linear calc(calc(var(--second-to-saisoj) * 2) + var(--second-to-sd));
}

#animation-container:hover {
    width: 32rem;

    transition: all 1ms linear;
}

#animation-container div {
    position: absolute;

    height: var(--logo-scale);
    width: var(--logo-scale);
    top: 50%;
    left: 0%;
    transform: translate(-42%, -50%);
}

#animation-container #SJ {
    opacity: 1;
    transition: opacity 1ms linear calc(calc(var(--second-to-saisoj) * 2) + var(--second-to-sd));
}

#animation-container #S, #animation-container #J {
    visibility: hidden;
    opacity: 1;

    transition: all var(--second-to-saisoj) ease-in calc(var(--second-to-saisoj) + var(--second-to-sd));
}

#animation-container #Saisoj {
    visibility: hidden;
    opacity: 0;
    translate: 15.5%;

    transition: all var(--second-to-saisoj) ease-in var(--second-to-sd);
}

#animation-container #SD {
    visibility: hidden;
    opacity: 0;
    translate: 42.5%;
    transition: all var(--second-to-sd) ease-in;
}

#animation-container:hover #SJ {
    visibility: hidden;
    opacity: 0;
    transition: all 1ms ease-in 1ms
}

#animation-container:hover #J{
    visibility: visible;
    translate: 31%;
    opacity: 1;

    transition: all var(--second-to-saisoj) ease-in
}

#animation-container:hover #S {
    visibility: visible;
    opacity: 1;

    transition: all var(--second-to-saisoj) ease-in
}

#animation-container:hover #Saisoj {
    visibility: visible;
    opacity: 1;
    
    transition: all var(--second-to-saisoj) ease-out var(--second-to-saisoj);
}

#animation-container:hover #SD {
    visibility: visible;
    opacity: 1;
    transition: all var(--second-to-sd) ease-in calc((var(--second-to-saisoj) * 2));
}

@media only screen and (orientation: portrait) {
    :root {
        font-size: 10px;
    }

    .menu {
        visibility: visible;
    }

    .dropdown .content{
        position: absolute;
        display: block;
        top: 100%;
        width: 18rem;
        height: 20rem;
        overflow: hidden;
        border-radius: 0px 0px 15px 15px;
        
        border: var(--border);
        border-top: none;
        opacity: 0;
        visibility: hidden;
        background-color: var(--background-color);
        backdrop-filter: blur(var(--window-blur));
        box-shadow: var(--drop-shadow), var(--light-rim);
        transition: all 100ms ease-in;
    }

    .dropdown:hover .content {  
        opacity: 1;
        visibility: visible;
    }
    
    .dropdown button {
        position: relative;
        height: 5rem;
        width: 100%;
    }

    #splash img {
        width: 80%;
    }
}